name: SwiftWasm
on:
  push:
    branches: ["wasm32-wasi-test"]
  pull_request:
    branches: ["wasm32-wasi-test"]
permissions: {}
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  test:
    strategy:
      matrix:
        target:
          - sdk:
              url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2026-01-31-a/swift-DEVELOPMENT-SNAPSHOT-2026-01-31-a_wasm.artifactbundle.tar.gz
              checksum: f6424fc0c1421fc7fddb5fddd2dfacd0e7fbb2485bee3789c2b4372a9ba0cf7f
              id: swift-DEVELOPMENT-SNAPSHOT-2026-01-31-a_wasm
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - run: ./Scripts/ci-install-swiftly.sh
      - run: swiftly install -y --use main-snapshot-2026-01-31
      - run: swift --version
      - env:
          SDK_URL: ${{ matrix.target.sdk.url }}
          SDK_CHECKSUM: ${{ matrix.target.sdk.checksum }}
        run: swift sdk install "$SDK_URL" --checksum "$SDK_CHECKSUM"
      - env:
          SDK_ID: ${{ matrix.target.sdk.id }}
        run: swift test -c release --swift-sdk "$SDK_ID" --toolset wasi-test-toolset.json
  results:
    if: ${{ always() }}
    runs-on: ubuntu-24.04-arm
    needs: [test]
    steps:
      - run: exit 1
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
